$black: #000000;
$black-1: #222222;
$black-2: #3D3D3D;

$grey: #666666;

$brown: #876211;
$yellow-1: #e7c06b;
$yellow: #f3d083;
$orange: #EB5E55;
$red: #dc2c1f;

$white: #ffffff;
$white-1: #f2f2f2;

$dark-shadow: rgba(30, 30, 30, 0.95);